
table      { font-family: Verdana; font-size: 8pt ;}
a:link       { font-size: 10px ;color: #FF0000; font-weight: bold ; text-decoration: none; }

<!--a:visited    { font-size: 10px ;color: #00008b; font-weight: bold ;text-decoration: none;}-->

a:hover      { font-size: 10px ;color: #FF0000; font-weight: bold ;text-decoration: none;}
a:active { }
