vti_encoding:SR|utf8-nl
vti_author:SR|TOSHIBA\\FATIK
vti_modifiedby:SR|TOSHIBA\\FATIK
vti_timelastmodified:TR|04 Dec 2008 10:22:39 -0000
vti_timecreated:TR|01 Dec 2008 22:28:22 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{A53E4F91-255E-4AFD-9B4B-BD97CED9FC28}
vti_backlinkinfo:VX|public_html/links.htm public_html/contact.htm public_html/foto2AFG.htm public_html/index.htm public_html/foto1.htm public_html/mdokum.htm public_html/yorum.htm public_html/documents/pratikHTML/kubaj.htm public_html/fun.htm public_html/indir.htm
vti_nexttolasttimemodified:TW|01 Dec 2008 22:30:58 -0000
vti_cacheddtm:TX|04 Dec 2008 10:22:39 -0000
vti_filesize:IR|350
